version: 2
updates:
  - package-ecosystem: npm
    directory: /
    open-pull-requests-limit: 20
    schedule:
      interval: monthly
      time: 06:00
      timezone: Asia/Shanghai
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 20
    schedule:
      interval: monthly
      time: 06:00
      timezone: Asia/Shanghai
